In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

# Question 1

In [2]:
# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units.
# A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level.
# Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [3]:
cutlet = pd.read_csv("C:\\Users\\INDIA\\Downloads\\Assignment csv file\\Cutlets.csv")
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
#  h0 : unitA = unitB
#        h1 : unitA != unitB   
#        we have to perform two sample 2 tail test

In [5]:
stats.ttest_ind( cutlet["Unit A"] , cutlet["Unit B"]) [1]

0.4722394724599501

In [6]:
# as the p value is greater than 0.05
# we will go with the h0 
# Means , there is no any significant difference in the diameter of the cutlet between two units.

# Question . 2

In [7]:
# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories
# on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample 
# collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different
# laboratories at 5% significance level.

In [9]:
labtat=pd.read_csv("C:\\Users\\INDIA\\Downloads\\Assignment csv file\\labTAT.csv")
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [10]:
# here,  h0 : Laboratory 1 = Laboratory 2 = Laboratory 3 = Laboratory 4
#        h1 : one of them are not equal
#        we have to perform the ANOVA TEST

In [11]:
stats.f_oneway( labtat['Laboratory 1'], labtat['Laboratory 2'], labtat['Laboratory 3'], labtat['Laboratory 4'] )

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [12]:
# as the p value is less than 0.05
# we will go with the h1
# Means, there is difference in the average Turn Around Time (TAT) of reports of the laboratories.

# Question . 3

In [13]:
# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are
# similar across regions.

In [14]:
BR= pd.read_csv("C:\\Users\\INDIA\\Downloads\\Assignment csv file\\BuyerRatio.csv")
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
table = BR.iloc[:,1:6]
table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [16]:
# here,  h0: all proportional are equal
#        h1: all proprotional are not equal
#        we will perform CHI SQUARE TES

In [17]:
stats.chi2_contingency (table) [1]

0.6603094907091882

In [18]:
# as we can see the p value is greater than 0.05
# we will reject the h0
# means, all proportional are not equal

# Problem :- 04

In [19]:
# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms.
# Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether 
# the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate 
# inferences

In [20]:
telecall= pd.read_csv("C:\\Users\\INDIA\\Downloads\\Assignment csv file\\Costomer+OrderForm.csv")
telecall

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [21]:
# here , h0 : the defective %  varies by centre
#        h1 : the defective % do not varies by centre
#        we will perform CHI SQUARE TEST

In [22]:
# As the given data was in categorical form we have to convert into tabular format

In [23]:
telecall['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [24]:
telecall['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [25]:
telecall['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [26]:
telecall['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [27]:
df = {   'Phillippines':[271 , 29] ,
         'Indonesia' : [267 , 33], 
         'Malta':[269 , 31] , 
         'India':[280, 20]          }

In [28]:
tab = pd.DataFrame (df)
tab

   Phillippines  Indonesia  Malta  India
0           271        267    269    280
1            29         33     31     20

In [29]:

stats.chi2_contingency(tab)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [30]:
# as the p value is 0.277 which is greate than 0.05
# we will go with the h0
# means, the defective %  varies by centre

------------------------------------------------------- END------------------------------------------------------------------